{% extends "base.html" %} {% block content %}

<div class="intro-container">
    <h2 class="header">Are you sure? Delete Clinical Document (FHIR)</h2>

    <div class="card">
        <div class="card-body">
            <form action="{{ url_for('delete_fhir_patient', patient_id=patient.id) }}" method="post">
                <div class="name-section">
                    <div class="form-group">
                        <p>ID: {{ patient.id }}</p>
                        <p>Name: {% if patient.name %}{{ ' '.join(patient.name[0].given) }} {{ patient.name[0].family
                            }}{% endif %}</p>
                        <p>Version ID: {{ patient.versionId }}</p>
                        <p>Last Updated: {{ patient.last_updated }}</p>
                        <p>Profile: {{ patient.profile|safe }}</p>
                        <p>Active: {{ patient.active }}</p>
                    </div>
                </div>
                <div class="button-inline">
                    <button type="submit" class="button">Delete</button>
                    <button type="button" class="button "
                        onclick="window.location.href='{{ url_for('fhir_patient_list') }}'">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}