{% extends "base.html" %} {% block content %}


<div class="intro-container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Search within sample Resources on HAPI FHIR server</h1>
            <h3>Instructions</h3>
            <p>🚧 Work in progress:<br>Select a resource type and then use the form to enter search parameters for the
                resource.</p>
            <br>
            <form method="POST" action="{{ url_for('fhir_patient_search') }}">
                <div class="form-group">
                    <label for="resource_type">Resource Type</label>
                    <select class="form-control" name="resource_type" id="resource_type"
                        onchange="showRelevantFormSection()">
                        <option value="" disabled selected>Select</option>
                        <option value="Patient">Patient</option>
                        <option value="Practitioner">Practitioner</option>
                        <option value="Observation">Observation</option>
                        <option value="Medication">Medication</option>
                        <option value="MedicationRequest">Medication Request</option>
                        <option value="MedicationDispense">Medication Dispense</option>
                        <option value="MessageHeader">Message Header</option>
                        <option value="ImagingStudy">Imaging Study</option>
                    </select>
                </div>
                <div id="patient-form" class="form-section" style="display: none;">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" placeholder="Enter ID">
                    </div>
                    <div class="form-group">
                        <label for="given">Name</label>
                        <input type="text" class="form-control" id="given" name="given" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="family">Family</label>
                        <input type="text" class="form-control" id="family" name="family"
                            placeholder="Enter family name, eg Brown">
                    </div>
                    <div class="form-group">
                        <label for="birthdate">Birthdate</label>
                        <input type="date" class="form-control" id="birthdate" name="birthdate"
                            placeholder="Enter birthdate, eg 01-01-1989">
                    </div>
                </div>
                <div id="practitioner-form" class="form-section" style="display: none;">
                    <div class="form-group">
                        <label for="practitioner_id">ID</label>
                        <input type="text" class="form-control" id="practitioner_id" name="practitioner_id"
                            placeholder="Enter ID">
                    </div>
                    <div class="form-group">
                        <label for="practioner_given">Given Name</label>
                        <input type="text" class="form-control" id="practioner_given" name="practitioner_given"
                            placeholder="Enter Given Name">
                    </div>
                    <div class="form-group">
                        <label for="practitioner_family">Family Name</label>
                        <input type="text" class="form-control" id="practitioner_family" name="practitioner_family"
                            placeholder="Enter Family Name">
                    </div>
                    <div class="form-group">
                        <label for="practitioner_city">City</label>
                        <input type="text" class="form-control" id="practitioner_city" name="practitioner_city"
                            placeholder="Enter City eg PleasantVille">
                    </div>
                </div>
                <div id="observation-form" class="form-section" style="display: none;">
                    <div class="form-group">
                        <label for="observation_id">Observation ID</label>
                        <input type="text" class="form-control" id="observation_id" name="observation_id"
                            placeholder="Enter observation ID, e.g., 12345">
                    </div>
                    <div class="form-group">
                        <label for="observation_code">Observation Code</label>
                        <input type="text" class="form-control" id="observation_code" name="observation_code"
                            placeholder="Enter observation code, e.g., 20005">
                    </div>
                </div>
                <div id="medication-form" class="form-section" style="display: none;">
                    <div class="form-group">
                        <label for="medication_id">Medication ID</label>
                        <input type="text" class="form-control" id="medication_id" name="medication_id"
                            placeholder="Enter medication ID, e.g., 12345">
                    </div>
                    <div class="form-group">
                        <label for="lot_number">Batch Lot Number</label>
                        <input type="text" class="form-control" id="lot_number" name="lot_number"
                            placeholder="Enter Batch lot number, e.g., 9494788">
                    </div>
                    <div class="form-group">
                        <label for="ingredient_code">Ingredient Code</label>
                        <input type="text" class="form-control" id="ingredient_code" name="ingredient_code"
                            placeholder="Enter ingredient code, e.g., 901813">
                    </div>
                    <div class="form-group">
                        <label for="medication_name">Medication Name</label>
                        <input type="text" class="form-control" id="medication_name" name="medication_name"
                            placeholder="Enter medication name, e.g., Tylenol">
                    </div>
                    <div class="form-group">
                        <label for="dose_form">Dose Form</label>
                        <input type="text" class="form-control" id="dose_form" name="dose_form"
                            placeholder="Enter medication dose form, e.g., Tablet">
                    </div>
                </div>
                <div id="medicationrequest-form" class="form-section" style="display: none;">
                    <div class="form-group">
                        <label for="medication_request_id">Medication Request ID</label>
                        <input type="text" class="form-control" id="medication_request_id" name="medication_request_id"
                            placeholder="Enter medication request ID, e.g., 12345">
                    </div>
                    <div class="form-group">
                        <label for="medication_request_status">Medication Request Status</label>
                        <input type="text" class="form-control" id="medication_request_status"
                            name="medication_request_status"
                            placeholder="Enter medication request status, e.g., active">
                    </div>
                    <div class="form-group">
                        <label for="medication_request_medication">Medication Request Medication</label>
                        <input type="text" class="form-control" id="medication_request_medication"
                            name="medication_request_medication"
                            placeholder="Enter medication request medication, e.g., 12345">
                    </div>
                    <div class="form-group">
                        <label for="medication_request_patient">Medication Request Patient</label>
                        <input type="text" class="form-control" id="medication_request_patient"
                            name="medication_request_patient"
                            placeholder="Enter medication request patient, e.g., 12345">
                    </div>
                </div>
                <div id="medicationdispense-form" class="form-section" style="display: none;">
                    <div class="form-group">
                        <label for="medication_dispense_id">Medication Dispense ID</label>
                        <input type="text" class="form-control" id="medication_dispense_id"
                            name="medication_dispense_id" placeholder="Enter medication dispense ID, e.g., 12345">
                    </div>
                    <div class="form-group">
                        <label for="medication_dispense_status">Medication Dispense Status</label>
                        <input type="text" class="form-control" id="medication_dispense_status"
                            name="medication_dispense_status"
                            placeholder="Enter medication dispense status, e.g., active">
                    </div>
                    <div class="form-group">
                        <label for="medication_dispense_medication">Medication Dispense Medication</label>
                        <input type="text" class="form-control" id="medication_dispense_medication"
                            name="medication_dispense_medication"
                            placeholder="Enter medication dispense medication, e.g., 12345">
                    </div>
                    <div class="form-group">
                        <label for="medication_dispense_patient">Medication Dispense Patient</label>
                        <input type="text" class="form-control" id="medication_dispense_patient"
                            name="medication_dispense_patient"
                            placeholder="Enter medication dispense patient, e.g., 12345">
                    </div>
                </div>
                <div id="messageheader-form" class="form-section" style="display: none;">
                    <div class="form-group">
                        <label for="message_header_id">Message Header ID</label>
                        <input type="text" class="form-control" id="message_header_id" name="message_header_id"
                            placeholder="Enter message header ID, e.g., 12345">
                    </div>
                    <div class="form-group">
                        <label for="message_header_destination">Message Header Destination</label>
                        <input type="text" class="form-control" id="message_header_destination"
                            name="message_header_destination"
                            placeholder="Enter message header destination, e.g., TESTEAPP or HEPIC">
                    </div>
                    <div class="form-group">
                        <label for="message_header_source">Message Header Source</label>
                        <input type="text" class="form-control" id="message_header_source" name="message_header_source"
                            placeholder="Enter message header source, e.g., GH">
                    </div>
                    <div class="form-group">
                        <label for="message_header_author">Message Header Author</label>
                        <input type="text" class="form-control" id="message_header_author" name="message_header_author"
                            placeholder="Enter message header author, e.g., 12345">
                    </div>
                    <div class="form-group">
                        <label for="message_header_event">Message Header Event Coding</label>
                        <input type="text" class="form-control" id="message_header_event" name="message_header_event"
                            placeholder="Enter message header event coding, e.g., ADT|A01">
                    </div>
                </div>
                <div id="imagingstudy-form" class="form-section" style="display: none;">
                    <div class="form-group">
                        <label for="imaging_study_id">Imaging Study ID</label>
                        <input type="text" class="form-control" id="imaging_study_id" name="imaging_study_id"
                            placeholder="Enter imaging study ID, e.g., 12345">
                    </div>
                    <div class="form-group">
                        <label for="imaging_study_patient">Imaging Study Patient</label>
                        <input type="text" class="form-control" id="imaging_study_patient" name="imaging_study_patient"
                            placeholder="Enter imaging study patient, e.g., 12345">
                    </div>
                    <div class="form-group">
                        <label for="imaging_study_modality">Imaging Study Modality</label>
                        <label for="imaging_study_modality_code">Modality Code</label>
                        <input type="text" class="form-control" id="imaging_study_modality_code" name="imaging_study_modality_code" placeholder="Enter modality code, e.g., CR">
                        <label for="imaging_study_modality_display">Modality Display</label>
                        <input type="text" class="form-control" id="imaging_study_modality_display" name="imaging_study_modality_display" placeholder="Enter modality display, e.g., Computed Radiography">
                        <label for="imaging_study_modality_system">Modality System</label>
                        <input type="text" class="form-control" id="imaging_study_modality_system" name="imaging_study_modality_system" placeholder="Enter modality system, e.g., http://dicom.nema.org/resources/ontology/DCM">
                    </div>
                    <div class="form-group">
                        <label for="imaging_study_series">Imaging Study Series</label>
                        <label for="imaging_study_series_body_site">Series Body Site</label>
                        <input type="text" class="form-control" id="imaging_study_series_body_site" name="imaging_study_series_body_site" placeholder="Enter series body site, e.g., Thoracic structure">
                        <label for="imaging_study_series_body_site_code">Series Body Site Code</label>
                        <input type="text" class="form-control" id="imaging_study_series_body_site_code" name="imaging_study_series_body_site_code" placeholder="Enter series body site code, e.g., 51185008">
                        <label for="imaging_study_series_body_site_system">Series Body Site System</label>
                        <input type="text" class="form-control" id="imaging_study_series_body_site_system" name="imaging_study_series_body_site_system" placeholder="Enter series body site system, e.g., http://snomed.info/sct">
                    </div>
                    <div class="form-group">
                        <label for="imaging_study_started">Imaging Study Started</label>
                        <input type="date" class="form-control" id="imaging_study_started" name="imaging_study_started"
                            placeholder="Enter imaging study started, e.g., 01-01-2021">
                    </div>
                </div>
                <br>
                <div class="button-inline">
                    <button type="submit" class="button">Search</button>
                    <button onclick="window.location.href='{{ url_for('index') }}';" class="button"
                        type="button">Return</button>
                </div>
            </form>


        </div>
    </div>
</div>


{% endblock %}