{% extends "base.html" %} {% block content %}

<div class="intro-container">
    <h2 class="header">Patient Clinical Document (FHIR)</h2>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h2>Data Selection</h2>
                <ul>
                    <li><strong>ID:</strong> {{ patient.id }}</li>
                    <li><strong>Name:</strong> {{ patient.name }}</li>
                    <li><strong>Identifier:</strong> {{ patient.identifier }}</li>
                    <li><strong>Birth Date:</strong> {{ patient.birth_date }}</li>
                    <li><strong>Gender:</strong> {{ patient.gender }}</li>
                    <li><strong>Address:</strong> {{ patient.address }}</li>
                    <li><strong>Phone:</strong> {{ patient.phone }}</li>
                    <li><strong>Email:</strong> {{ patient.email }}</li>
                    <li><strong>Source:</strong> {{ patient.source }}</li>
                    <li><strong>Version ID:</strong> {{ patient.versionId }}</li>
                    <li><strong>Last Updated:</strong> {{ patient.last_updated }}</li>
                    <li><strong>Profile:</strong> {{ patient.profile|safe }}</li>
                    <li><strong>Active:</strong> {{ patient.active }}</li>
                </ul>

                <ul>
                    <li><strong>Marital Status:</strong> {{ patient.marital_status }}</li>
                    <li><strong>Multiple Birth:</strong> {{ patient.multiple_birth }}</li>
                    <!-- {% if patient.multiple_birth == 'True' %} -->
                    <li><strong>Birth Order:</strong> {{ patient.multiple_birth_integer }}</li>
                    <!-- {% endif %} -->
                    {% if patient.deceased != 'N/A' %}
                    <li><strong>Date Deceased:</strong> {{ patient.deceased }}</li>

                    {% endif %}
                    <li><strong>Communication:</strong> {{ patient.communication }}</li>
                    <li><strong>Contact</strong> {{ patient.contact }}</li>
                    <li><strong>Contact Relationship</strong> {{ patient.contact_relationship }}</li>
                    <li><strong>Contact Address</strong> {{ patient.contact_address }}</li>
                    <li><strong>Contact Phone</strong> {{ patient.contact_phone }}</li>
                    <li><strong>Contact Email</strong> {{ patient.contact_email }}</li>

                    <li><strong>General Practitioner:</strong> {{ patient.general_practitioner}}</li>
                    <li><strong>Managing Organization:</strong> {{ patient.managing_organization}}</li>
                    <li><strong>Link:</strong> {{ patient.link}}</li>
                    <li><strong>Photo:</strong> {{ patient.photo}}</li>
                </ul>


                <br>
                <br>
                <div class="card-body">
                    <h2>FHIR text</h2>
                    <div>{{ patient.text|safe }}</div>
                </div>
                <br>
                <br>
                <div>
                    <div class="button-inline">
                        <button
                            onclick="window.location.href='{{ url_for('edit_fhir_patient', patient_id=patient.id) }}'"
                            class="button" type="button">Edit</button>
                        <button class="button"
                            onclick="window.location.href='{{ url_for('delete_fhir_patient', patient_id=patient.id) }}'"
                            class="button" type="button">Delete</button>
                        <button onclick="window.location.href='{{ url_for('fhir_patient_list') }}'" class="button"
                            type="button">Return</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h2>Result Body Payload</h2>
                <pre id="json"></pre>
            </div>
        </div>

        <button class="button" onclick="window.location.href='{{ url_for('fhir_patient_list') }}'">Return</button>
    </div>
</div>



<script>
    var data = {{ patient_json| tojson | safe }};
    document.getElementById("json").innerHTML = JSON.stringify(data, null, 2);
</script>

{% endblock %}