{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="welcome">
        <h1>FHIR Patient Summary Development Application</h1>
        <p>This application is designed to create a hard-coded FHIR patient document bundle, which will be presented as
            a JSON file.</p>
        <button onclick="window.location.href='{{ url_for('get_patient_summary') }}'" class="button" type="button">View
            Patient
            Bundle</button>
    </div>
    <br>
    <div class="">
        <h2>Select HL7 FHIR Patient Information on HAPI</h2>
        <p>The document found can be edited. <span class="bold">Note These documents belong to other HAPI FHIR users</span></p>
        <button onclick="window.location.href='{{ url_for('fhir_patient_list') }}' " class="button" type="button">🔥
            FHIR
            Search Page</button>
    </div>
    <br>
    <div class="">
        <h2>Search HL7 FHIR Resource Information on HAPI</h2>
        <p>Search data within resources, on HAPI FHIR. <span class="bold">Note These documents belong to other HAPI FHIR users</span></p>
        <button onclick="window.location.href='{{ url_for('fhir_patient_search') }}'" class="button" type="button">🔍
            FHIR
            Search Page</button>
    <!-- <div class="download">
        <h2>Download HL7 CDA Document</h2>
        <p>🚧 Work in progress: You can also download a converted copy of the FHIR patient summary as an HL7 CDA
            document.</p>
        <button onclick="window.location.href='#'" class="button" type="button" disabled>Download HL7 CDA</button>
    </div> -->


</div>

{% endblock %}