{% extends "base.html" %} {% block content %}

<div class="intro-container">
    <h2 class="header">New Patient Detail (FHIR)</h2>

    <div class="card">
        <div class="card-body">
            <form method="post" action="{{ url_for('new_fhir_patient') }}" onsubmit="return validateForm()">
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="given_name">First Name</label>
                            <input type="text" class="form-control" id="given_name" name="given_name" required>
                        </div>
                    </div>
                </div>

                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="family_name">Last Name</label>
                            <input type="text" class="form-control" id="family_name" name="family_name" required>
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group right">
                            <input type="checkbox" class="form-check-input form-control" name="official_name"
                                id="official_name" value="official">
                            <label for="official_name">Tick if official name</label>
                        </div>
                    </div>
                </div>

                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="birth_date">Date of Birth</label>
                            <input type="date" class="form-control" id="birth_date" name="birth_date" required>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <select class="form-control" id="gender" name="gender" required>
                                <option value="" disabled selected>Select</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="address_line">Address</label>
                                <textarea class="form-control" id="address_line" rows="3"
                                    name="address_line" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" name="city" required>
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="state">State</label>
                            <input type="text" class="form-control" id="state" name="state" required>
                        </div>
                    </div>
                </div>

                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="postal_code">Postal Code</label>
                            <input type="text" class="form-control" id="postal_code" name="postal_code" required>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="address_use">Select address type:</label>
                            <select name="address_use" class="form-control" id="address_use" required>
                                <option value="" disabled selected>Select</option>
                                <option value="home">Home</option>
                                <option value="work">Work</option>
                            </select>
                        </div>
                    </div>
                </div>



                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="tel" class="form-control" id="phone" name="phone" required>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="phone_use">Phone Type</label>
                            <select class="form-control" id="phone_use" name="phone_use" required>
                                <option value="" disabled selected>Select</option>
                                <option value="home">Home</option>
                                <option value="work">Work</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="email_use">Email Type</label>
                            <select class="form-control" id="email_use" name="email_use" required>
                                <option value="" disabled selected>Select</option>
                                <option value="home">Home</option>
                                <option value="work">Work</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="marital_status">Marital Status</label>
                            <select class="form-control" id="marital_status" name="marital_status" required>
                                <option value="" disabled selected>Select</option>
                                <option value="M">Married</option>
                                <option value="S">Single</option>
                                <option value="D">Divorced</option>
                                <option value="W">Widowed</option>
                                <option value="L">Legally Separated</option>
                                <option value="U">Unknown</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="multiple_birth">Multiple Birth</label>
                            <select class="form-control" id="multiple_birth" name="multiple_birth" required
                                onchange="toggleBirthOrder(this)">
                                <option value="" disabled selected>Select</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md" id="birth_order_group" style="display: none;">
                        <div class="form-group">
                            <label for="multiple_birth_integer">Birth Order</label>
                            <select class="form-control" id="multiple_birth_integer" name="multiple_birth_integer">
                                <option value="" disabled selected>Select</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                </div>

                <script>
                    function toggleBirthOrder(select) {
                        var birthOrderGroup = document.getElementById('birth_order_group');
                        if (select.value === 'True') {
                            birthOrderGroup.style.display = 'block';
                        } else {
                            birthOrderGroup.style.display = 'none';
                        }
                    }
                </script>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="deceased_boolean">Deceased</label>
                            <select class="form-control" id="deceased_boolean" name="deceased_boolean" required
                                onchange="toggleDateOfDeath(this)">
                                <option value="" disabled selected>Select</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md" id="date_of_death_group" style="display: none;">
                        <div class="form-group">
                            <label for="deceased">Deceased Date:</label>
                            <input type="date" class="form-control" id="deceased" name="deceased">
                        </div>
                    </div>
                </div>


                <script>
                    function toggleDateOfDeath(select) {
                        var dateOfDeathGroup = document.getElementById('date_of_death_group');
                        if (select.value === 'True') {
                            dateOfDeathGroup.style.display = 'block';
                        } else {
                            dateOfDeathGroup.style.display = 'none';
                        }
                    }
                </script>

                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="general_practitioner_refrence">General Practitioner Reference</label>
                            <input type="text" class="form-control" id="general_practitioner_reference"
                                name="general_practitioner_reference">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="general_practitioner_display">General Practitioner Display</label>
                            <input type="text" class="form-control" id="general_practitioner_display"
                                name="general_practitioner_display">
                        </div>
                    </div>

                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="managing_organization_reference">Managing Organization Reference</label>
                                <input type="text" class="form-control" id="managing_organization_reference"
                                    name="managing_organization_reference">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="managing_organization_display">Managing Organization Display</label>
                                <input type="text" class="form-control" id="managing_organization_display"
                                    name="managing_organization_display">
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="link_display">Link Reference</label>
                                    <input type="text" class="form-control" id="link_display" name="link_link">
                                </div>
                            </div>
                        </div>


                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="photo">Photo</label>
                                    <input type="text" class="form-control" id="photo" name="photo">
                                </div>
                            </div>
                        </div>

                        <div class="row g-2">
                            <label for="languages">Languages Spoken</label>
                            <div class="col-md">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_french"
                                        name="languages" value="french">
                                    <label class="form-check-label" for="language_french">French</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_italian"
                                        name="languages" value="italian">
                                    <label class="form-check-label" for="language_italian">Italian</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_spanish"
                                        name="languages" value="spanish">
                                    <label class="form-check-label" for="language_spanish">Spanish</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_portuguese"
                                        name="languages" value="portuguese">
                                    <label class="form-check-label" for="language_portuguese">Portuguese</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_romanian"
                                        name="languages" value="romanian">
                                    <label class="form-check-label" for="language_romanian">Romanian</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_german"
                                        name="languages" value="german">
                                    <label class="form-check-label" for="language_german">German</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_english"
                                        name="languages" value="english">
                                    <label class="form-check-label" for="language_english">English</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_dutch" name="languages"
                                        value="dutch">
                                    <label class="form-check-label" for="language_dutch">Dutch</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_swedish"
                                        name="languages" value="swedish">
                                    <label class="form-check-label" for="language_swedish">Swedish</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_danish"
                                        name="languages" value="danish">
                                    <label class="form-check-label" for="language_danish">Danish</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_norwegian"
                                        name="languages" value="norwegian">
                                    <label class="form-check-label" for="language_norwegian">Norwegian</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_russian"
                                        name="languages" value="russian">
                                    <label class="form-check-label" for="language_russian">Russian</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_polish"
                                        name="languages" value="polish">
                                    <label class="form-check-label" for="language_polish">Polish</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_czech" name="languages"
                                        value="czech">
                                    <label class="form-check-label" for="language_czech">Czech</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_slovak"
                                        name="languages" value="slovak">
                                    <label class="form-check-label" for="language_slovak">Slovak</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_bulgarian"
                                        name="languages" value="bulgarian">
                                    <label class="form-check-label" for="language_bulgarian">Bulgarian</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_serbian"
                                        name="languages" value="serbian">
                                    <label class="form-check-label" for="language_serbian">Serbian</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_croatian"
                                        name="languages" value="croatian">
                                    <label class="form-check-label" for="language_croatian">Croatian</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_slovenian"
                                        name="languages" value="slovenian">
                                    <label class="form-check-label" for="language_slovenian">Slovenian</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_latvian"
                                        name="languages" value="latvian">
                                    <label class="form-check-label" for="language_latvian">Latvian</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_lithuanian"
                                        name="languages" value="lithuanian">
                                    <label class="form-check-label" for="language_lithuanian">Lithuanian</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_greek" name="languages"
                                        value="greek">
                                    <label class="form-check-label" for="language_greek">Greek</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_finnish"
                                        name="languages" value="finnish">
                                    <label class="form-check-label" for="language_finnish">Finnish</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_hungarian"
                                        name="languages" value="hungarian">
                                    <label class="form-check-label" for="language_hungarian">Hungarian</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="language_estonian"
                                        name="languages" value="estonian">
                                    <label class="form-check-label" for="language_estonian">Estonian</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="preferred_language">Preferred Language</label>
                                <select class="form-control" id="preferred_language" name="preferred_language" required>
                                    <option value="" disabled selected>Select</option>
                                    <option value="english">English</option>
                                    <option value="french">French</option>
                                    <option value="german">German</option>
                                    <option value="spanish">Spanish</option>
                                    <option value="italian">Italian</option>
                                    <option value="portuguese">Portuguese</option>
                                    <option value="romanian">Romanian</option>
                                    <option value="dutch">Dutch</option>
                                    <option value="swedish">Swedish</option>
                                    <option value="danish">Danish</option>
                                    <option value="norwegian">Norwegian</option>
                                    <option value="russian">Russian</option>
                                    <option value="polish">Polish</option>
                                    <option value="czech">Czech</option>
                                    <option value="slovak">Slovak</option>
                                    <option value="bulgarian">Bulgarian</option>
                                    <option value="serbian">Serbian</option>
                                    <option value="croatian">Croatian</option>
                                    <option value="slovenian">Slovenian</option>
                                    <option value="latvian">Latvian</option>
                                    <option value="lithuanian">Lithuanian</option>
                                    <option value="greek">Greek</option>
                                    <option value="finnish">Finnish</option>
                                    <option value="hungarian">Hungarian</option>
                                    <option value="estonian">Estonian</option>
                                </select>
                            </div>
                        </div>




                        <div class="row g-2">
                            <div class="col-md">
                                <h3>Contact Information</h3>
                                <div class="form-group">
                                    <label for="contact_relationship">Relationship</label>
                                    <select class="form-control" id="contact_relationship" name="contact_relationship"
                                        required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="Billing contact person">Billing contact person</option>
                                        <option value="Contact person">Contact person</option>
                                        <option value="Emergency contact person">Emergency contact person</option>
                                        <option value="Person preparing referral">Person preparing referral</option>
                                        <option value="Employer">Employer</option>
                                        <option value="Emergency Contact">Emergency Contact</option>
                                        <option value="Federal Agency">Federal Agency</option>
                                        <option value="Insurance Company">Insurance Company</option>
                                        <option value="Next-of-Kin">Next-of-Kin</option>
                                        <option value="State Agency">State Agency</option>
                                        <option value="Unknown">Unknown</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="contact_id"></label>
                                    <input type="hidden" class="form-control" id="contact_id" name="contact_id">
                                </div>
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="contact_given_name">First Name</label>
                                    <input type="text" class="form-control" id="contact_given_name"
                                        name="contact_given_name" required>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="contact_family_name">Last Name</label>
                                    <input type="text" class="form-control" id="contact_family_name"
                                        name="contact_family_name" required>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="contact_family_name_prefix">Prefix</label>
                                    <input type="text" class="form-control" id="contact_family_name_prefix"
                                        name="contact_family_name_prefix">
                                </div>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="contact_phone">Phone</label>
                                    <input type="tel" class="form-control" id="contact_phone" name="contact_phone"
                                        required>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="contact_phone_use">Phone Type</label>
                                    <select class="form-control" id="contact_phone_use" name="contact_phone_use"
                                        required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="home">Home</option>
                                        <option value="work">Work</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="contact_email">Email</label>
                                    <input type="email" class="form-control" id="contact_email" name="contact_email"
                                        required>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="contact_email_use">Email Type</label>
                                    <select class="form-control" id="contact_email_use" name="contact_email_use"
                                        required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="home">Home</option>
                                        <option value="work">Work</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="contact_address_line">Address</label>
                                    <textarea class="form-control" id="contact_address_line" rows="3"
                                        name="contact_address_line" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="contact_city">City</label>
                                    <input type="text" class="form-control" id="contact_city" name="contact_city"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="contact_state">State</label>
                                    <input type="text" class="form-control" id="contact_state" name="contact_state"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="contact_postal_code">Postal Code</label>
                                    <input type="text" class="form-control" id="contact_postal_code"
                                        name="contact_postal_code" required>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="contact_address_use">Address Type</label>
                                    <select class="form-control" id="contact_address_use" name="contact_address_use"
                                        required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="home">Home</option>
                                        <option value="work">Work</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="contact_start">Contact Start Date</label>
                                    <input type="date" class="form-control" id="contact_start" name="contact_start"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="contact_gender">Contact Gender</label>
                                    <select class="form-control" id="gender" name="contact_gender" required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>

                                </div>
                                <div class="row g-2">
                                    <div class="col-md">
                                        <div class="form-group">
                                            <label for="active">Active</label>
                                            <select class="form-control" id="active" name="active" required>
                                                <option value="" disabled selected>Select</option>
                                                <option value="True">Yes</option>
                                                <option value="False">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="button-inline">
                                <button class="button" type="submit">Save</button>
                                <button class="button" type="button"
                                    onclick="window.location.href='{{ url_for('fhir_patient_list') }}'">Cancel</button>
                            </div>


            </form>

        </div>
    </div>
</div>

{% endblock %}